.thirdhome{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-image: url("https://media.istockphoto.com/vectors/horizontal-vector-illustration-of-a-plain-blank-white-colored-vector-id1146604532?k=20&m=1146604532&s=612x612&w=0&h=X7r2C--w3sOzW73r3myZ6DWGOyc7T7jyJ0pSTwoBbiM=");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.thirdhome__left{
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.thirdhome__left__image{
    width: 650px;
    height: 550px;
    background-size: contain;
}
.thirdhome__right{
    flex: 0.5;
    padding:50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.thirdhome__right__heading{
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
}
.thirdhome__right__heading__first{
    color:#5a39a2;
}
.thirdhome__right__paragraph{
    font-size: 24px;
    margin-bottom: 1.5rem;
}
.thirdhome__right Button{
    font-size: 22px;
    border-radius: 40px;
}