.thirdhome{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
}
.thirdhome__left{
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.thirdhome__left__image{
    width: 650px;
    height: 550px;
    background-size: contain;
}
.thirdhome__right{
    flex: 0.5;
    padding:50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.thirdhome__right__heading{
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
}
.thirdhome__right__heading__first{
    color:#5a39a2;
}
.thirdhome__right__heading__second{
    color:#413e66;
}
.thirdhome__right__paragraph{
    font-size: 24px;
    margin-bottom: 1.5rem;
}
.thirdhome__right Button{
    font-size: 20px;
    font-weight: 500;
    border:2px solid;
    border-radius: 40px;
}