.researchpaper{
    display: flex;
    flex-direction: column;
    background-image: url("https://media.istockphoto.com/vectors/abstract-gray-silver-pattern-background-vector-id1388031685?k=20&m=1388031685&s=612x612&w=0&h=17oJZM3daf2oIRkFzpSQnFv8nugG3to8_vbi9v8g4_k=");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0px 70px 0px;
}
.researchpaper__row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px 40px 10px;

}