.navbar{

    padding: 7px 40px 7px 20px !important;
    width: 100vw;
    height: 10vh;
    background-color: #f5f8fd;
    border: none;
}

.header__name{
    font-size: 2.4rem;
    font-weight: 700;
    color: #413e66;
}

.other Button{
  max-height: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
  padding: -20px !important;
  border-style: none;
}
.navbar__element{
    font-size: 1.37rem;
    font-weight: 500;
    margin-top: -8px;
    max-width: 180px;
    overflow: hidden;
 }
 #navbarScrollingDropdown{
    font-size: 1.37rem;
    margin-top: -7px;
    font-weight: 500;
    max-width: 150px;
    overflow: hidden;
 }