.home{
   margin: 0px;
   padding: 0px;
}
.home__first{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:#f5f8fd;
    background-image: url("file:///C:/Users/91831/Downloads/DreamLegal-main%20(1)/DreamLegal-main/img/intro-img.svg");
    background-repeat: no-repeat;
    background-size:50% 90%;
    background-position:right bottom;
    height:100vh;
    width: 100vw;
    position:relative;
    padding: 18% 10% 0% 1%;
}
.home__content{
    flex:0.6;
    padding: 0px 10% 0% 5%;
}
.home__logo{
    flex:0.4;
}
.home__header{
    margin-bottom: 18px;
    display: flex;
    flex-direction: row;
    font-size: 3rem;
    font-family: Arial,serif;
    font-weight: 700;
    color: #413e66;
}
.search__engine{
    max-width: 45vw;
    margin-bottom: 10px;
}
.searched__item{
    z-index: 5;
    background-color: #fff;
    color: #413e66;
    max-width:50vw ;
    max-height: 90%;
    overflow-y: scroll;
    border-radius: 4px;
    /* border:1px solid #413e66; */
    /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgb(238, 238, 238,0.7)); */

}
.search__button{
    background-color: #413e66 !important;
}
.friend{
    padding: 10px 10px 10px 10px;
    font-family: serif;
}
.friend div{
    font-size: 1.25rem;
}
.teacher{
    padding: 10px 10px 10px 10px;
    font-family: serif;
}
.teacher div{
    font-size: 1.25rem;
}
.teacher hr,.friend hr{
    margin-top: -5px;
}
.searched__item__name{
    padding: 2px 2px 2px 15px;

}
.searched__item__name:hover{
    background-color: #cce6f6;
    color: #0dcaf0;
}


.home__second{
    height: 110vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
}
.home__second__left{
    flex: 0.35;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    color: #413e66;
}
.home__second__left h1{
  font-size: 2.75rem;
  font-weight: 700;
}
.home__second__left__software{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.home__second__left__software button{
    width: 80%;
    margin-top: 10px;
    border-width: 2px;
    border-color: transparent;
    font-size: 1.19rem;
    text-align: start;
}
.home__second__right{
    height: 100%;
    width: 100%;
    padding-right: 30px;
    padding-top: 50px;
    flex: 0.65;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.software{
    border: 1px solid;
    font-weight: 600;
    background-color: #fff;
    color: #413e66;
}
.software.selected{
    z-index: 1;
    padding-left: 5px;
    border-color:#0dcaf0;
    color:#0dcaf0;
    transform: scale(1.05);
    /* box-shadow: 1px 2px 2px 1px #0dcaf0; */
}