.body{
    background-image: url("https://media.istockphoto.com/vectors/multicolored-pastel-abstract-background-light-gradient-diffused-white-vector-id1179215846?k=20&m=1179215846&s=612x612&w=0&h=RPzoPqsJQMy1821H93H70nL8y7dssTuk7D58wvBmK3Y=");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding:120px 150px;
    color: #000;
}
.body__about__header{
   font-size: 60px;
   font-weight: 700;
   margin-bottom: 35px;
}
.body__about__para{
    font-size: 28px;
    margin-bottom: 24px;
    line-height: 2.5rem;
}

.body__team{
    margin-top: 100px;
}

.body__team__header{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 24px;
}
.team__members{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 24px;
}

.our__investor{
    margin-top:100px;
}
.our__investor__heading{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 24px;
}
.our__investor__company{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}